@import '../../../assets/scss/define';
page{
    @extend %h100;
    background-color: #fafafa;
}
.view-wrap{
    @extend %df;
    @extend %fdc;
    @extend %h100;
}
.banner{
    @extend %w100;
    height: j(362);
}
.inner{
    @extend %oh;
    @extend %df1;
}
.content{
    @extend %w100;
    @extend %h100;
}
.loading{
    @extend %df;
    @extend %w100;
    @extend %aic;
    @extend %jcc;
    height: j(200);
    font-size: j(32);
    color: #666;
}

.tab{
    @extend %df;
    @extend %aic;
    @extend %jcc;
    height: 105rpx;
    padding: 0 60rpx;
    background-color: #fff;
    border-bottom: 1rpx solid #ddd;
}
.tab-btn{
    @extend %df;
    @extend %aic;
    @extend %jcc;
    text{
        font-size: 30rpx;
        color: #686868;
    }
}
.tab-prompt{
    @extend %df1;
    @extend %df;
    @extend %aic;
    @extend %jcc;
    margin: 0 20rpx;
    text{
        font-size: 36rpx;
        color: #0075c2;
    }
}


.cell{
    margin-top: j(20);
    background-color: #fff;
    padding-bottom: j(20);
    border-bottom: j(1) solid #efeff4;
}
.head{
    @extend %bsb;
    @extend %df;
    @extend %aic;
    @extend %jcc;
    height: j(98);
    font-size: j(36);
    color: #575757;
    border-top: j(1) solid #efeff4;
    border-bottom: j(1) solid #efeff4;
    .color{
        color: #0075c2;
    }
}
.con{
    @extend %df;
    @extend %w100;
}
.con-item{
    @extend %df1;
    @extend %fdc;
    @extend %df;
    @extend %aic;
    @extend %jcc;
    height: j(230);
    color: #575757;
    .label{
        font-size: j(36);
    }
    .value{
        font-size: j(80);
        color: #0075c2;
        line-height: j(120);
    }
    .unit{
        height: j(40);
        line-height: j(40);
        font-size: j(30);
    }
}
.prompt{
    @extend %df;
    @extend %aic;
    font-size: j(28);
    color: #6b6b6b;
    padding-left: j(110);
}
.footer{
    @extend %df;
    justify-content: space-between;
    padding: j(30) j(60);
}
.footer-button{
    @extend %df;
    @extend %aic;
    @extend %jcc;
    width: j(280);
    border-radius: j(40);
    height: j(80);
    background: linear-gradient(to right, #5fa4dd , #1b70c3);
    &:first-child{
        background-color: #1e3666;
        background-image: none;
    }
}
.footer-button-text{
    font-size: j(34);
    color: #fff;
}
