@import '../../../assets/scss/define';
page{
    @extend %h100;
    background-color: #f5f5f5;
}
.view-wrap{
    @extend %df;
    @extend %fdc;
    @extend %h100;
}
.inner{
    @extend %df1;
    height: 10rpx;
}
/*头部*/
.header{
    @extend %df;
    @extend %aic;
    @extend %jcc;
    background-color: #28aeeb;
    height: 200rpx;
    text{
        font-size: 45rpx;
        color: #fff;
    }
}

.loading{
    @extend %df;
    @extend %w100;
    @extend %aic;
    @extend %jcc;
    height: j(200);
    font-size: j(32);
    color: #666;
}

.tab{
    @extend %df;
    @extend %aic;
    @extend %jcc;
    height: 105rpx;
    padding: 0 60rpx;
    background-color: #fff;
    border-bottom: 1rpx solid #ddd;
}
.tab-btn{
    @extend %df;
    @extend %aic;
    @extend %jcc;
    text{
        font-size: 30rpx;
        color: #686868;
    }
}
.tab-prompt{
    @extend %df1;
    @extend %df;
    @extend %aic;
    @extend %jcc;
    margin: 0 20rpx;
    text{
        font-size: 36rpx;
        color: #28aeeb;
    }
}


.cell{
    margin-top: j(20);
    background-color: #fff;
    padding-bottom: j(20);
    border-bottom: j(1) solid #ddd;
}
.head{
    @extend %bsb;
    @extend %df;
    @extend %aic;
    @extend %jcc;
    height: j(98);
    font-size: j(36);
    color: #2d2d2d;
    border-top: j(1) solid #ddd;
    border-bottom: j(1) solid #ddd;
    .color{
        color: #28aeeb;
    }
}
.con{
    @extend %df;
    @extend %w100;
}
.con-item{
    @extend %df1;
    @extend %fdc;
    @extend %df;
    @extend %aic;
    @extend %jcc;
    height: j(230);
    color: #2d2d2d;
    .label{
        font-size: j(36);
    }
    .value{
        font-size: j(80);
        color: #28aeeb;
    }
    .unit{
        height: j(40);
        line-height: j(40);
        font-size: j(30);
    }
}
.prompt{
    @extend %df;
    @extend %aic;
    font-size: j(28);
    color: #6b6b6b;
    padding-left: j(110);
}
.footer{
    @extend %df;
    justify-content: space-between;
    padding: 53rpx 60rpx 80rpx;
}
.footer-button{
    @extend %df;
    @extend %aic;
    @extend %jcc;
    width: 289rpx;
    border-radius: 44rpx;
    height: 88rpx;
    background-image: linear-gradient(to right, #3bddf2, #2cbdf0);
    &:first-child{
        background-color: #1e3666;
        background-image: none;
    }
}
.footer-button-text{
    font-size: 36rpx;
    color: #fff;
}
