@import '../../assets/scss/define';

page{
    @extend %h100;
    background-color: #79B7DE;
}
.wrap{
    @extend %df;
    @extend %pr;
    @extend %fdc;
    @extend %aic;
    @extend %h100;
}
.bg{
    @extend %w100;
    @extend %pa;
    @extend %t0;
    @extend %l0;
    height: auto;
    z-index: -1;
}
.null-box{
    @extend %w100;
    height: j(220);
}
.time{
    @extend %df;
    @extend %aic;
    @extend %cfff;
    @extend %bsb;
    width: j(590);
    height: j(78);
    padding-left: j(60);
    font-size: j(31);
}
.flex1{
    @extend %df1;
}
.prompt{
    @extend %bsb;
    width: j(630);
    padding: j(45);
    background-color: #fff;
    border-radius: j(30);
    box-shadow: j(10) j(10) j(10) j(10) rgba(117,209,245,.3);
}
.prompt-cell{
    @extend %c3;
    @extend %df;
    font-size: j(28);
    margin-bottom: j(20);
    &:last-child{
        margin-bottom: 0;
    }
}
.prompt-label{
    @extend %fwb;
}
.prompt-value{
    @extend %df1;
    .strong{
        color: #1b70c3;
    }
}
.button-group{
    @extend %df;
    @extend %aic;
    @extend %jcs;
    margin-top: j(50);
    width: j(630);
    .button{
        background: linear-gradient(to right, #5fa4dd , #1b70c3);
        margin: 0;
        width: j(280);
        font-size: j(34);
        &:first-child{
            background-image: none;
            background-color: #1e3666;
        }
    }
}
.link-button{
    @extend %cp;
    @extend %c3;
    margin-top: j(30);
    font-size: j(20);
    line-height: 2;
    border-bottom: 1px solid #333;
}
.tip{
    padding: j(30) 0;
    color: #232323;
    font-size: j(14);
}



.pop-wrap{
    z-index: 9;
    @extend %pf;
    @extend %t0;
    @extend %l0;
    @extend %r0;
    @extend %b0;
    @extend %df;
    @extend %aic;
    @extend %jcc;
    background-color: rgba(0,0,0,0.4);
}
.pop-inner{
    @extend %bsb;
    @extend %pr;
    height: j(920);
    width: j(668);
    background-color: #fff;
    border-radius: j(5);
    padding: 0 j(60);
}
.pop-header{
    @extend %df;
    @extend %aic;
    @extend %jcc;
    padding: j(40) 0 j(20);
    image{
        width: j(70);
        height: j(70);
        margin-right: j(20);
    }
    text{
        font-size: j(48);
        color: #28aeeb;
    }
}
.pop-con{
    height: j(620);
    text{
        font-size: j(26);
        color: #6a6a6a;
    }
}
.pop-button{
    @extend %pa;
    @extend %l50;
    @extend %df;
    @extend %aic;
    @extend %jcc;
    border-radius: j(34);
    margin-left: -200rpx;
    width: j(400);
    height: j(68);
    bottom: j(45);
    background: linear-gradient(to right, #39e2ee , #28aeeb);
    text{
        color: #ffffff;
        font-size: j(30);
    }
}
.input-placeholder{
    color: #999;
    font-size: j(32);
}
