@import '../../assets/scss/define';

page{
    @extend %h100;
}
.wrap{
    @extend %df;
    @extend %h100;
    @extend %pr;
    @extend %fdc;
    @extend %aic;
    @extend %w100;
}
.header{
    @extend %df;
    @extend %aic;
    @extend %jcc;
    @extend %w100;
    @extend %cfff;
    height: j(200);
    background-color: #1d71c4;
}
.prompt{

}
.inner{
    image{
        @extend %pa;
        @extend %t0;
        @extend %l0;
    }
}
.content{
    @extend %df;
    @extend %fdc;
    @extend %aic;
}
.goods{
    width: j(300);
    height: j(300);
}
.link{
    color: #666;
    font-size: j(24);
    line-height: 1.5;
    border-bottom: j(1) solid #666;
}
