@import '../../assets/scss/define';

page{
    @extend %h100;
    background-color: #ecf8fd;
}
.wrap{
    @extend %df;
    @extend %pr;
    @extend %fdc;
    @extend %aic;
    @extend %h100;
}
.bg{
    @extend %w100;
    @extend %pa;
    @extend %t0;
    @extend %l0;
    height: auto;
    z-index: -1;
}
.introduce-link{
    @extend %cp;
    @extend %pa;
    @extend %cfff;
    top: j(20);
    right: j(24);
    font-size: j(24);
    line-height: j(40);
    border-bottom: j(1) solid #fff;
}
.title{
    @extend %fwb;
    @extend %df;
    @extend %fdc;
    @extend %cfff;
    padding: j(70) 0 j(30);
    line-height: j(90);
    font-size: j(71);
}
.time{
    @extend %df;
    @extend %aic;
    @extend %cfff;
    height: j(65);
    font-size: j(27);
    border-top: j(1) solid #fff;
    border-bottom: j(1) solid #fff;
}
.icon{
    width: j(50);
    height: j(44);
    margin-right: j(10);
}
.flex1{
    @extend %df1;
}
.prompt{
    @extend %bsb;
    width: j(630);
    padding: j(45);
    background-color: #fff;
    border-radius: j(30);
    box-shadow: j(10) j(10) j(10) j(10) rgba(117,209,245,.2);
}
.prompt-cell{
    @extend %c3;
    @extend %df;
    font-size: j(28);
    margin-bottom: j(20);
    &:last-child{
        margin-bottom: 0;
    }
}
.prompt-label{
    @extend %fwb;
}
.prompt-value{
    @extend %df1;
}
.button-group{
    @extend %df;
    @extend %aic;
    @extend %jcs;
    margin-top: j(50);
    width: j(630);
    .button{
        margin: 0;
        width: j(290);
        &:first-child{
            background-image: none;
            background-color: #1e3666;
        }
    }
}
.tip{
    padding: j(30) 0;
    color: #232323;
    font-size: j(14);
}
