@import '../../assets/scss/define';

page{
    @extend %h100;
    background-color: #f2f2f2;
}
.wrap{
    @extend %df;
    @extend %h100;
    @extend %pr;
    @extend %fdc;
    image{
        @extend %w100;
    }
}
.g-vip-page{
    .header{
        background-color: #1b70c3;
    }
}
.header{
    @extend %df;
    @extend %aic;
    @extend %fdc;
    @extend %jcc;
    @extend %cfff;
    height: j(248);
    font-size: j(36);
    background-color: #2fb2e7;
    .title{
        font-size: j(55);
        margin-bottom: j(10);
    }
}
.tab{
    @extend %df;
    @extend %aic;
    background-color: #fff;
    border-top: j(1) solid #ddd;
}
.tab-item{
    @extend %df1;
    @extend %pr;
    @extend %df;
    @extend %aic;
    @extend %jcc;
    @extend %fdc;
    height: j(98);
    color: #333;
    font-size: j(32);
    &.active{
        color: #2fb2e7;
        .bar{
            background-color: #2fb2e7;
        }
    }
}
.bar{
    @extend %pa;
    @extend %l50;
    margin-left: j(-15);
    bottom: j(16);
    width: j(30);
    height: j(4);
    background-color: #fff;
}
.inner{
    @extend %pr;
    @extend %df;
    @extend %df1;
    @extend %w100;
    @extend %oh;
}
.content{
    @extend %pa;
    @extend %t0;
    @extend %l0;
    @extend %b0;
    @extend %r0;
}






















