@import '~src/assets/scss/define';

page{
    background-color: #f8f8f8;
}
.banner{
    @extend %w100;
    height: auto;
    min-height: j(470);
}
.cell{
    @extend %df;
    @extend %aic;
    padding: j(55) j(35);
    background-color: #fff;
    margin: j(30) 0;
}
.cell-content{
    @extend %df1;
    @extend %df;
    @extend %fdc;
    @extend %c3;
    line-height: 1.5;
    border-left: j(2) solid #333;
    padding: 0 j(25);
}
.cell-label{
    @extend %c3;
    font-size: j(28);
}
.cell-value{
    @extend %c6;
    font-size: j(26);
}
.cell-button{
    @extend %df;
    @extend %cp;
    @extend %aic;
    @extend %jcc;
    @extend %cfff;
    font-size: j(28);
    width: j(150);
    height: j(46);
    border-radius: j(23);
    background: linear-gradient(to right, #5fa4dd , #1b70c3);
    &.disabled{
        cursor: default;
        background-color: #b9b9b9 !important;
        background-image: none !important;
    }
}
.cell-link{
    @extend %cp;
    border-bottom: j(1) solid #1b70c3;
    color: #1b70c3;
    font-size: j(28);
    line-height: j(46);
}
.prompt{
    @extend %df;
    @extend %aic;
    @extend %jcc;
    @extend %c9;
    font-size: j(32);
    height: j(200);
}
