@import '../../../assets/scss/define';

.item{
    @extend %df;
    @extend %aic;
    @extend %jcc;
    border-radius: 30rpx;
    width: 700rpx;
    height: 400rpx;
    margin: 20rpx auto;
    background-color: #f0faff;
}
.image{
    width: 630rpx;
}
.prompt{
    @extend %df;
    @extend %aic;
    @extend %fdc;
    @extend %jcc;
    padding: 70rpx 0 60rpx;
    line-height: 1.5;
    text{
        font-size: 30rpx;
        color: #6b6b6b;
    }
    .link{
        color: #28aeeb;
        border-bottom: 2rpx solid #28aeeb;
    }
}
