@import '../../../assets/scss/define';

.g-vip-page{
    .thead{
        background: linear-gradient(to right, #5fa4dd , #1b70c3);
    }
}
.wrap{
    @extend %df;
    @extend %fdc;
    @extend %aic;
}
.image{
    @extend %pa;
    @extend %w100;
    @extend %t0;
    @extend %l0;
}
/*头部*/
.header{
    @extend %pr;
    @extend %df;
    @extend %aic;
    padding: j(32) 0;
    width: j(640);
    font-size: j(42);
    color: #fff;
    border-bottom: j(1) solid #ddd;
}
.avatar{
    width: j(110);
    height: j(110);
    margin-right: j(30);
    border-radius: 50%;
}

.prompt{
    @extend %df;
    @extend %pr;
    @extend %bsb;
    @extend %fdc;
    @extend %aic;
    min-height: j(188);
    padding: j(25) j(16);
    line-height: 1.5;
    text{
        @extend %cfff;
    }
}
.prompt-text{
    font-size: j(27);
}
.prompt-time{
    font-size: j(68);
}

.table{
    @extend %pr;
    width: j(695);
    box-shadow: 0 j(10) j(10) j(10) rgba(40, 174, 235, .1);
    margin-bottom: j(35);
}
.thead{
    @extend %df;
    @extend %aic;
    @extend %jcc;
    @extend %cfff;
    height: j(116);
    background: linear-gradient(to right, #36d8ee , #28aeeb);
    font-size: j(42);
}
.tr{
    @extend %df;
    @extend %aic;
    @extend %bsb;
    height: j(54);
    border-bottom: j(1) solid #ebebeb;
}
.td{
    @extend %h100;
    @extend %df1;
    @extend %df;
    @extend %aic;
    @extend %jcc;
    border-right: j(1) solid #ebebeb;
    &:last-child{
        border-right: none;
    }
    &.td-0-0{
        background-color: #ebebeb;
        text{
            @extend %db;
            @extend %fwb;
            color: #8c8c8c;
        }
    }
    &.td-0-1{
        background-color: #fff;
        text{
            @extend %db;
            color: #28aeeb;
        }
    }
    &.td-1-0{
        text{
            @extend %db;
            color: #28aeeb;
        }
        .status{
            @extend %dn;
        }
    }
    .icon{
        width: j(39);
        height: j(37);
    }
}
.text{
    @extend %dn;
    font-size:j(21);
}
.status{
    @extend %df;
    @extend %aic;
    @extend %jcc;
    width: j(30);
    height: j(4);
    background-color: #ebebeb;
}

.table-prompt{
    @extend %db;
    @extend %tac;
    font-size: j(26);
    color: #666;
}

.button{
    @extend %df;
    @extend %aic;
    @extend %jcc;
    margin-top: j(35);
}
