@import '../../../assets/scss/define';

page{
    @extend %h100;
    @extend %fdc;
    background-color: #fafafa;
}
.wrap{
    @extend %w100;
    @extend %h100;
    @extend %df;
    @extend %fdc;
}
.header{
    @extend %df;
    @extend %fdc;
    @extend %aic;
    @extend %jcc;
    @extend %w100;
    @extend %cfff;
    height: j(248);
    background-color: #1e72c3;
    font-size: j(36);
    .title{
        margin-bottom: j(10);
        font-size: j(55);
    }
}
.tab{
    @extend %df;
    @extend %aic;
    @extend %bsb;
    @extend %w100;
    @extend %jcs;
    height: j(104);
    padding: 0 j(60);
    background-color: #fff;
    color: #686868;
    font-size: j(30);
    box-shadow: 0 j(10) j(10) j(10) rgba(0,0,0,.03);
    .tab-text{
        color: #1e72c3;
        font-size: j(36);
    }
}
.inner{
    @extend %df1;
    @extend %oh;
}
.content{
    @extend %h100;
}
.cell{
    @extend %df;
    @extend %aic;
    @extend %bsb;
    height: j(148);
    border-bottom: j(1) solid #ddd;
    padding: 0 j(60);
    image{
        width: j(86);
        height: j(86);
        border-radius: 50%;
        margin-right: j(30);
        background-color: red;
    }
}
.name{
    @extend %df1;
    color: #333;
    font-size: j(36);
}
.type{
    @extend %df;
    @extend %aic;
    @extend %jcc;
    @extend %cfff;
    height: j(36);
    width: j(112);
    border-radius: j(18);
    font-size: j(32);
    background-color: #b9b9b9;
}

