@import '../../assets/scss/define';

page{
    @extend %h100;
    background-color: #50575d;
}
.wrap{
    @extend %df;
    @extend %h100;
    @extend %pr;
    @extend %fdc;
    @extend %aic;
    @extend %w100;
    .bg{
        @extend %pa;
        @extend %t0;
        @extend %l0;
        @extend %w100;
    }
}

.user{
    @extend %pr;
    @extend %df;
    @extend %fdc;
    @extend %aic;
    @extend %w100;
    @extend %cfff;
    padding-top: j(55);
    font-size: j(30);
    image{
        width: j(140);
        height: j(140);
        border-radius: 50%;
        background-color: red;
        margin-bottom: j(20);
    }
}
.statistics{
    @extend %pr;
    @extend %df;
    @extend %aic;
    @extend %jcc;
    @extend %w100;
    margin-top: j(30);
}

.statistics-item{
    @extend %df;
    @extend %pr;
    @extend %aic;
    @extend %fdc;
    @extend %jcc;
    color: #dedddd;
    &:first-child,
    &:last-child{
        @extend %df1;
    }
    &:nth-child(2){
        height: j(336);
        width: j(336);
    }
    .label{
        font-size: j(28);
    }
    .value{
        font-size: j(68);
    }
    .unit{
        font-size: j(18);
    }
}
.statistics-inner{
    .progress{
        @extend %t0;
        @extend %l0;
        @extend %pa;
        @extend %bsb;
        border-radius: 50%;
        height: j(336);
        width: j(336);
        border: j(10) solid #aba5a4;
    }
    .value{
        font-size: j(96);
    }
    .progress-inner{
        height: j(336);
        width: j(336);
    }
}

.button{
    @extend %df;
    @extend %aic;
    @extend %jcc;
    image{
        width: j(40);
        height: j(40);
        margin-right: j(10);
    }
    text{
        @extend %cfff;
        font-size: j(24);
    }
}
.prompt{
    @extend %df;
    @extend %fdc;
    @extend %aic;
    @extend %cfff;
    font-size: j(32);
}
.operate{
    @extend %pr;
    @extend %df;
    @extend %oh;
    height: j(180);
    image{
        @extend %pa;
        @extend %b0;
        @extend %l0;
        @extend %w100;
        height: j(180);
    }
}
.operate-bg{
    @extend %pa;
    @extend %l50;
    @extend %t0;
    margin-left: j(-1000);
    width: j(2000);
    height: j(2000);
    border-radius: 50%;
    background-color: #1d71c4;
}
.operate-item{
    @extend %pr;
    @extend %df1;
}
