@import '../../assets/scss/define';

.g-vip-page{
    .button{
        background: linear-gradient(to right, #5fa4dd , #1b70c3);
    }
    .operate-bg{
        background-color: #1b70c3;
    }
}

page{
    @extend %h100;
    background-color: #50575d;
}
.return{
    @extend %pa;
    top: j(20);
    left: j(20);
    width: j(175);
}
.wrap{
    @extend %df;
    @extend %h100;
    @extend %pr;
    @extend %fdc;
    @extend %aic;
    @extend %w100;
    .bg{
        @extend %pa;
        @extend %t0;
        @extend %l0;
        @extend %w100;
    }
}

.user{
    @extend %pr;
    @extend %df;
    @extend %fdc;
    @extend %aic;
    @extend %w100;
    @extend %cfff;
    padding-top: j(55);
    font-size: j(30);
    image{
        width: j(140);
        height: j(140);
        border-radius: 50%;
        background-color: red;
        margin-bottom: j(20);
    }
}
.statistics{
    @extend %pr;
    @extend %df;
    @extend %aic;
    @extend %jcc;
    @extend %w100;
    margin-top: j(30);
}

.statistics-item{
    @extend %df;
    @extend %pr;
    @extend %aic;
    @extend %fdc;
    @extend %jcc;
    color: #dedddd;
    &:first-child,
    &:last-child{
        @extend %df1;
    }
    &:nth-child(2){
        height: j(336);
        width: j(336);
    }
    .label{
        font-size: j(28);
    }
    .value{
        font-size: j(60);
    }
    .unit{
        font-size: j(18);
    }
}
.statistics-inner{
    .progress{
        @extend %t0;
        @extend %l0;
        @extend %pa;
        height: j(336);
        width: j(336);
    }
    .value{
        font-size: j(96);
    }
    .progress-inner{
        @extend %t0;
        @extend %l0;
        @extend %pa;
        height: j(336);
        width: j(336);
    }
    .progress-bg{
        @extend %pa;
        @extend %t50;
        @extend %l50;
        margin-top: j(-323);
        margin-left: j(-320);
        height: j(640);
        width: j(640);
    }
}

.button{
    @extend %pr;
    @extend %df;
    @extend %aic;
    @extend %jcc;
    @extend %cfff;
    margin-top: j(75);
    width: j(400);
    height: j(70);
    font-size: j(36);
    border-radius: j(35);
    background: linear-gradient(to right, #39e1ee , #28aeeb);
    image{
        width: j(40);
        height: j(40);
        margin-right: j(10);
    }
    .color{
        font-style: italic;
        font-size: j(42);
        color: #ead6b4;
        margin: 0 j(5);
    }
}
.prompt{
    @extend %pr;
    @extend %df;
    @extend %aic;
    @extend %cfff;
    font-size: j(28);
    margin-top: j(10);
    .color{
        font-style: italic;
        font-size: j(36);
        color: #ead6b4;
        margin: 0 j(5);
    }
    .font{
        font-size: j(36);
    }
}
.operate{
    @extend %pr;
    @extend %df;
    @extend %oh;
    @extend %w100;
    @extend %aic;
    @extend %jcc;
    padding-top: j(50);
    image{
        @extend %pa;
        @extend %l50;
        border: j(-50);
        margin-left: j(-255);
        width: j(510);
        height: j(180);
    }
}
.operate-bg{
    @extend %pa;
    @extend %l50;
    @extend %t0;
    margin-left: j(-1500);
    width: j(3000);
    height: j(3000);
    border-radius: 50%;
    background-color: #30c2ee;
}
.operate-inner{
    @extend %df;
    width: j(510);
}
.operate-item{
    @extend %pr;
    @extend %df1;
    height: j(180);
    margin: 0 j(20);
}
.popup-wrap{
    @extend %pf;
    @extend %t0;
    @extend %l0;
    @extend %r0;
    @extend %b0;
    @extend %df;
    @extend %aic;
    @extend %jcc;
    background-color: rgba(0,0,0,.3);
}
.popup-inner{
    @extend %pr;
    width: j(631);
    height: j(689);
    background-color: #fff;
    border-radius: j(10);
}
.popup-button{
    @extend %df;
    @extend %pa;
    @extend %l50;
    @extend %aic;
    @extend %jcc;
    @extend %cfff;
    height: j(80);
    width: j(300);
    margin-left: j(-150);
    font-size: j(36);
    bottom: j(50);
    border-radius: j(40);
    background-color: #1d71c4;
}
.popup-image{
    @extend %w100;
    @extend %pa;
    @extend %t0;
}
