@import '../../assets/scss/define';

page{
    @extend %h100;
    background-color: #fff;
}
.wrap{
    @extend %df;
    @extend %h100;
    @extend %pr;
    @extend %fdc;
    image{
        @extend %w100;
    }
}
.header{
    @extend %df;
    @extend %aic;
    @extend %jcc;
    @extend %cfff;
    height: j(248);
    font-size: j(36);
    background-color: #2fb2e7;
    .title{
        font-size: j(55);
        margin-bottom: j(10);
    }
}
.tab{
    @extend %df;
    @extend %aic;
}
.tab-item{
    @extend %df1;
    @extend %df;
    @extend %aic;
    @extend %jcc;
    @extend %fdc;
    height: j(20);
    color: #fff;
    font-size: j(23);
    &.active{
        background-color: #fff;
    }
}
.bar{
    width: j(50);
    height: j(2);
    background-color: #fff;
}
.inner{
    @extend %pr;
    @extend %df;
    @extend %df1;
    @extend %w100;
}
.content{
    @extend %pa;
    @extend %t0;
    @extend %l0;
    @extend %w100;
}






















