@import '../../assets/scss/define';
/*头部*/
.header{
    @extend %df;
    @extend %aic;
    height: j(328);
    padding: 0 j(60);
    background-color: #28aeed;
}
.button{
    width: j(81);
    height: j(81);
}
.num-wrap{
    @extend %df;
    @extend %df1;
    @extend %fdc;
    @extend %aic;
}
.num-label{
    font-size: j(30);
    color: #e2f6fc;
}
.num-value{
    font-size: j(166);
    color: #fff;
    line-height: j(140);
    margin: j(20);
}
.num-unit{
    font-size: j(26);
    color: #fff;
}

/*标尺*/
.ruler{
    @extend %w100;
    @extend %pr;
    @extend %bsb;
    height: j(110);
    background-color: #fff;
    white-space: nowrap;
}
.rule-type{
    @extend %pa;
    @extend %t50;
    @extend %l50;
    width: j(150);
    height: j(100);
    margin-top: -50rpx;
    margin-left: -72rpx;
}
.rule-inner{
    @extend %dib;
    @extend %h100;
}
.rule-item{
    @extend %pr;
    @extend %dib;
    @extend %bsb;
    width: j(25);
    height: j(21);
    &.rule-item-value{
        .rule-item-sign{
            height: j(21);
        }
    }
    &:last-child{
        width: j(1);
    }
}
.rule-null-item{
    @extend %dib;
    width: 50%;
    height: j(21);
}
.rule-item-sign{
    @extend %pa;
    @extend %t0;
    @extend %l0;
    height: j(13);
    width: j(1);
    background-color: #28aeed;
}

.rule-item-value-text{
    @extend %pa;
    @extend %l0;
    font-size: j(26);
    color: #28aeed;
    top: j(30);
    margin-left: j(1);
    transform: translate3d(-50%, 0, 0);
}

/*时间*/
.time{
    @extend %w100;
    @extend %bsb;
    height: j(157);
    background-color: #29aeeb;
    white-space: nowrap;
    .time-item:last-child,
    .time-item:first-child{
        margin-left: j(30);
    }
}
.time-item{
    @extend %bsb;
    @extend %pr;
    @extend %h100;
    @extend %dib;
    margin-right: j(65);
    padding-top: j(42);
}
.time-item-active{
    padding-top: j(46);
    .time-item-bar,
    .time-item-type{
        @extend %db;
    }
    .time-item-text{
        @extend %fwb;
        font-size: j(36);
    }
}
.time-item-text{
    font-size: j(30);
    color: #fff;
    line-height: j(45);
    height: j(45);
}
.time-item-bar{
    @extend %dn;
    @extend %w100;
    height: 1px;
    background-color: #fff;
    margin-top: j(10);
}
.time-item-type{
    @extend %dn;
    @extend %pa;
    @extend %l50;
    @extend %b0;
    margin-left: -23rpx;
    width: 0;
    height: 0;
    border-top: j(23) solid rgba(0,0,0,0);
    border-right: j(23) solid rgba(0,0,0,0);
    border-bottom: j(23) solid #fff;
    border-left: j(23) solid rgba(0,0,0,0);
}

// 表单
.form{

}
.input-item{
    @extend %df;
    @extend %aic;
    @extend %bsb;
    height: j(98);
    border-bottom: j(1) solid #efeff4;
}
.input-label{
    @extend %db;
    padding-left: j(60);
    margin-right: j(20);
    color: #575757;
    font-size: j(36);
}
.input-value{
    @extend %df1;
    height: j(50);
    input{
        @extend %tar;
        @extend %db;
        @extend %w100;
        @extend %h100;
        @extend %bsb;
        padding-right: j(60);
        font-size: j(36);
        color: #969696;
    }
}
.form-button{
    @extend %df;
    @extend %aic;
    @extend %jcc;
    margin: j(42) j(60) j(80);
}
.input-placeholder{
    color: #999;
    font-size: j(32);
}

// 弹窗
.pop-wrap{
    @extend %pf;
    @extend %t0;
    @extend %r0;
    @extend %l0;
    @extend %b0;
    @extend %df;
    @extend %aic;
    @extend %jcc;
    background-color: rgba(0,0,0,0.5);
    z-index: 99;
}
.pop-inner{
    @extend %pr;
    @extend %bsb;
    padding-top: j(50);
    width: j(670);
    height: j(476);
    background-color: #fff;
    border-radius: j(10);
}
.pop-header{
    @extend %df;
    @extend %aic;
    @extend %jcc;
    image{
        width: j(62);
        height: j(62);
        margin-right: j(10);
    }
    text{
        font-size: j(48);
        color: #28aeeb;
    }
}
.pop-con{
    margin-top: j(40);
    line-height: 1.2;
    padding: 0 j(55);
    text{
        font-size: j(26);
        color: #555;
    }
}
.pop-footer{
    @extend %df;
    justify-content: space-between;
    padding: j(50) j(20) 0;
}
.pop-button{
    @extend %df;
    @extend %aic;
    @extend %jcc;
    width: j(280);
    height: j(68);
    border-radius: j(34);
    background-image: linear-gradient(to right, #3bddf2, #2cbdf0);
    &.color{
        background-image: none;
        background-color: #1e3666;
    }
    text{
        font-size: j(30);
        color: #fff;
    }
}
