@import '../../assets/scss/g';
page{
    background-color: #fff;
}
.g-vip-page{
    .tab-prompt{
        color: #1b70c3;
    }
}
.canvas-bg{
    @extend %pa;
    left: j(90);
    right: j(90);
    bottom: j(160);
    height: j(118);
    background-color: #b7f194;
}
.wrap{
    @extend %h100;
    @extend %w100;
}
.inner{
    @extend %h100;
    @extend %w100;
}
.canvas{
    @extend %pr;
    @extend %w100;
    height: j(600);
}
.canvas-null{
    //@extend %w100;
    width: j(680) !important;
    margin-left: j(35);
}
.canvas-prompt{
    @extend %pa;
    @extend %l0;
    @extend %r0;
    @extend %tac;
    font-size: j(28);
    top: j(300);
}
.tab{
    @extend %df;
    @extend %aic;
    @extend %jcc;
    height: 105rpx;
    padding: 0 60rpx;
}
.tab-btn{
    @extend %df;
    @extend %aic;
    @extend %jcc;
    text{
        font-size: 30rpx;
        color: #686868;
    }
}
.tab-prompt{
    @extend %df1;
    @extend %df;
    @extend %aic;
    @extend %jcc;
    margin: 0 20rpx;
    text{
        font-size: 36rpx;
        color: #28aeeb;
    }
}

.prompt{
    font-size: j(24);
    color: #474747;
    line-height: 1.5;
    padding: 0 j(60) j(50);
    .text{
        @extend %db;
    }
    .padding{
        padding-left: j(272);
    }
}

