@import '../../assets/scss/define';

.form-wrap{
    margin-bottom: j(60);
}
.form-item{
    @extend %df;
    @extend %bsb;
    @extend %aic;
    height: j(98);
    border-bottom: j(1) solid #efeff4;
    &.from-no-value{
        input{
            padding-right: j(20);
        }
    }
}
.form-label{
    @extend %db;
    font-size: j(36);
    color: #575757;
    padding-left: j(60);
    margin-right: j(20);
}
.form-value{
    @extend %df1;
    @extend %h100;
    input{
        @extend %db;
        @extend %w100;
        @extend %h100;
        @extend %tar;
        @extend %bsb;
        line-height: j(98);
        padding-right: j(60);
        font-size: j(36);
        color: #969696;
    }
}
.form-unit{
    padding-right: j(60);
    font-size: j(36);
    color: #969696;
}

.from-code{
    @extend %df;
    @extend %bsb;
    @extend %aic;
    @extend %jcc;
    width: j(152);
    height: j(60);
    border: j(2) solid #28aeeb;
    margin-right: j(60);
    text{
        color: #28aeeb;
        font-size: j(26);
    }
    &.from-code-disabled{
        border: j(2) solid #ddd;
        text{
            color: #999;
        }
    }
}
.form-radio{
    @extend %df;
    @extend %aic;
    padding-right: j(60);
    justify-content: flex-end;
}
.form-radio-item{
    @extend %df1;
    @extend %df;
    @extend %aic;
    padding-left: j(60);
    justify-content: flex-end;
}
.form-radio-image{
    width: j(32);
    height: j(32);
}
.form-radio-text{
    font-size: j(36);
    color: #969696;
    margin-left: j(20);
}
.arrow{
    width: j(20);
    height: j(20);
    transform: rotate(45deg);
    border-color: #c0c0c0;
    border-top-width: j(1);
    border-top-style: solid;
    border-right-width: j(1);
    border-right-style: solid;
    margin: 0 j(60) 0 -30rpx;
}

.agreement{
    @extend %df;
    @extend %aic;
    margin-top: j(110);
    padding-left: j(60);
    text{
        font-size: j(28);
    }
}
.agreement-check{
    @extend %df;
    @extend %aic;
    @extend %jcc;
    @extend %bsb;
    width: j(30);
    height: j(30);
    border: j(2) solid #28aeeb;
    margin-right: j(20);
    text{
        font-size: j(28);
    }
}
.agreement-check-inner{
    width: j(18);
    height: j(18);
    background-color: #28aeeb;
}
.agreement-text{
    color: #28aeeb;
}

.form-button{
    margin: j(42) j(60) j(80);
}
