@import '~src/assets/scss/define';

page{
}
.wrap{
    @extend %df;
    @extend %pr;
    @extend %fdc;
    @extend %aic;
    padding-bottom: j(280);
    overflow-x: hidden;
}
.bg{
    @extend %w100;
    height: j(258);
}
.section{
    @extend %bsb;
    border-radius: j(30);
    background-color: #fff;
    box-shadow: j(8) j(8) j(8) j(8) rgba(0,0,0,.08);
    padding: 0 j(45) j(50);
    width: j(670);
}
.form{
    @extend %df;
    @extend %fww;
    @extend %jcs;
    padding-top: j(10);
    margin-top: j(-80);
}
.form-cell{
    @extend %w100;
    @extend %df;
    @extend %aic;
    font-size: j(28);
    margin-top: j(40);
    color: #28303e;
    background-color: #f1f5f7;
    border-radius: j(10);
    &.StoreName{
        background-color: transparent;
    }
}
.form-placeholder{
    color: #b9b9b9;
}
.form-value{
    @extend %df;
    @extend %w100;
    @extend %bsb;
    @extend %aic;
    height: j(70);
    padding: 0 j(25);
    .form-value-text{
        @extend %twno;
    }
}
.form-cell-w50{
    width: j(280);
}
.form-select{
    @extend %pr;
    @extend %cp;
    .form-value{
        padding-right: j(50);
    }
    &:after{
        @extend %pa;
        @include tfr(45deg);
        top: j(20);
        right: j(24);
        content: '';
        width: j(20);
        height: j(20);
        border-bottom: j(1) solid #28303e;
        border-right: j(1) solid #28303e;
    }
}

.result{
    margin-top: j(30);
    padding-bottom: j(30);
}
.result-title{
    @extend %c3;
    @extend %df;
    @extend %aic;
    @extend %bsb;
    height: j(100);
    margin-bottom: j(20);
    font-size: j(32);
    border-bottom: j(1) solid #d1d1d1;
}
.result-cell{
    @extend %df;
    @extend %cp;
    @extend %fdc;
    line-height: 1.5;
    padding: j(10) 0;
}
.cell-label{
    @extend %c3;
    font-size: j(28);
}
.cell-value{
    @extend %c6;
    font-size: j(24);
}

.code{
    margin-top: j(30);
    padding-top: j(50);
}
.prompt{
    @extend %c3;
    font-size: j(28);
}
.code-content{
    @extend %df;
    @extend %jcc;
    @extend %aic;
    padding-top: j(30);
}
.code-icon{
    width: j(140);
    height: j(140);
    margin-right: j(40);
}
.code-prompt{
    @extend %c3;
    @extend %df;
    @extend %fdc;
    font-size: j(30);
}
.button{
    @extend %pf;
    @extend %l50;
    margin-left: j(-180);
    bottom: j(160);
    width: j(360);
    background: linear-gradient(to right, #5fa4dd , #1b70c3);
}

.filter{
    @extend %df;
    @extend %aic;
    margin-bottom: j(20);
}
.filter-box{
    @extend %df1;
    border-radius: j(6);
    background-color: #f1f5f7;
}
.filter-value{
    @extend %bsb;
    color: #28303e;
    padding: 0 j(20);
    height: j(70);
    font-size: j(30);
}
.filter-button{
    @extend %df;
    @extend %aic;
    @extend %jcc;
    @extend %cp;
    font-size: j(32);
    color: #1b70c3;
    height: j(70);
    padding: 0 j(30);
}
.result-tip{
    @extend %df;
    @extend %aic;
    @extend %jcc;
    @extend %c3;
    padding: j(50) 0;
    font-size: j(32);
}
.form-cell-true{
    .form-value{
        color: #bbb;
    }
}
