@import '../../assets/scss/define';

page{
    @extend %h100;
    background-color: #fff;
}
.wrap{
    @extend %df;
    @extend %h100;
    @extend %pr;
    @extend %fdc;
    image{
        @extend %w100;
    }
}
.content{
    @extend %df1;
    @extend %df;
    @extend %aic;
    @extend %fdc;
}
.input-box{
    @extend %pr;
    margin-top: j(95);
    width: j(630);
    height: j(85);
    input{
        @extend %pa;
        @extend %r0;
        @extend %l0;
        @extend %b0;
        @extend %t0;
        padding-right: 100%;
        border: none;
        color: transparent;
        background-color: transparent;
    }
}
.ul{
    @extend %df;
    @extend %aic;
    @extend %jcs;
    width: j(630);
    height: j(85);
}
.li{
    @extend %bsb;
    @extend %df;
    @extend %aic;
    @extend %jcc;
    @extend %fwb;
    height: j(85);
    width: j(85);
    border: 1px solid #1d71c4;
    border-radius: j(8);
    color: #1d71c4;
    font-size: j(52);
}

.button{
    margin-top: j(85);
}

.footer{
    @extend %w100;
    @extend %pr;
    @extend %df;
    @extend %aic;
    @extend %fdc;
    @extend %jcc;
    @extend %oh;
    height: j(185);
    padding-top: j(20);
}
.bg{
    @extend %pa;
    @extend %l50;
    @extend %t0;
    margin-left: j(-1000);
    width: j(2000);
    height: j(2000);
    border-radius: 50%;
    background-color: #1d71c4;
}
.prompt{
    @extend %pr;
    line-height: j(35);
    font-size: j(24);
    color: #fff;
    .color{
        font-size: j(20);
    }
}
