@import '../../assets/scss/define';

page{
    @extend %h100;
    background-color: #fff;
}
.wrap{
    @extend %df;
    @extend %h100;
    @extend %pr;
    @extend %fdc;
    image{
        @extend %w100;
    }
}
.content{
    @extend %df1;
    @extend %df;
    @extend %aic;
    @extend %fdc;
}
.input-box{
    @extend %pr;
    margin-top: j(95);
    width: j(630);
    height: j(85);
    input{
        @extend %pa;
        @extend %r0;
        @extend %l0;
        @extend %b0;
        @extend %t0;
        //padding-right: 100%;
        border: none;
        color: transparent;
        background-color: transparent;
    }
}
.ul{
    @extend %df;
    @extend %aic;
    @extend %jcs;
    width: j(630);
    height: j(85);
}
.li{
    @extend %bsb;
    @extend %df;
    @extend %aic;
    @extend %jcc;
    @extend %fwb;
    height: j(85);
    width: j(85);
    border: 1px solid #474747;
    border-radius: j(8);
    color: #474747;
    font-size: j(52);
}

.button{
    margin-top: j(85);
}

.footer{
    @extend %w100;
    @extend %pr;
    @extend %df;
    @extend %aic;
    @extend %fdc;
    @extend %jcc;
    @extend %oh;
    padding-bottom: j(50);
    //height: j(185);
    //padding-top: j(20);
}
.bg{
    @extend %pa;
    @extend %l50;
    @extend %t0;
    margin-left: j(-1000);
    width: j(2000);
    height: j(2000);
    border-radius: 50%;
    background-color: #1d71c4;
}
.prompt{
    @extend %pr;
    line-height: 1.5;
    font-size: j(32);
    color: #474747;
    .color{
        color: #1d71c4;
        border-bottom: j(1) solid #1d71c4;
    }
}
.popup{
    @extend %pf;
    @extend %df;
    @extend %aic;
    @extend %jcc;
    @extend %t0;
    @extend %l0;
    @extend %r0;
    @extend %b0;
    background-color: rgba(0,0,0,0.3);
}
.popup-inner{
    @extend %df;
    @extend %fdc;
    @extend %aic;
    width: j(630);
    background-color: #fff;
    border-radius: j(16);
    padding: j(50) 0;
    line-height: 1.4;
}
.popup-title{
    font-size: j(51);
    color: #333;
}
.popup-content{
    @extend %df;
    @extend %fdc;
    justify-content: center;
    margin-top: j(20);
    align-items: center;
    padding: 0 j(46);
}
.popup-prompt{
    color: #333;
    font-size: j(32);
}
.popup-button{
    @extend %df;
    @extend %aic;
    @extend %jcc;
    width: j(300);
    margin-top: j(20);
    background: linear-gradient(to right, #5fa4dd , #1b70c3);
    height: j(80);
    border-radius: j(40);
    color: #fff;
    font-size: j(30);
}
