@import '~src/assets/scss/define';

page{
    background-color: #f8f8f8;
}
.wrap{
    @extend %df;
    @extend %pr;
    @extend %fdc;
    @extend %aic;
    overflow-x: hidden;
}
.bg{
    @extend %w100;
    height: j(258);
}
.progress{
    @extend %tac;
    margin-top: j(-130);
    padding-top: j(20);
    line-height: 1.5;
    background-color: #fff;
    width: j(630);
    border-radius: j(10);
    box-shadow: j(8) j(8) j(8) j(8) rgba(0,0,0,.08);
}
.progress-title{
    color: #1b70c3;
    font-size: j(35);
}
.progress-prompt{
    @extend %c3;
    font-size: j(30);
}
.color-1{
    color: #1b70c3;
}
.progress-content{
    @extend %df;
    @extend %aic;
    margin: j(30) 0;
    padding: 0 j(45);
}
.progress-bar{
    @extend %df1;
    @extend %pr;
    height: j(14);
    background-color: #c5c5c5;
    &.active{
        background-color: #1b70c3;
    }
    &.first-child{
        border-top-left-radius: j(7);
        border-bottom-left-radius: j(7);
    }
}
.progress-dot{
    @extend %pr;
    @extend %df;
    @extend %aic;
    @extend %jcc;
    z-index: 1;
    width: j(24);
    height: j(24);
    margin: 0 j(-5);
    border-radius: 50%;
    background-color: #c5c5c5;
    &.active{
        background-color: #1b70c3;
        .progress-icon{
            @extend %db;
        }
    }
    &.last-child{
        width: j(57);
        height: j(57);
        .progress-icon{
            @extend %db;
            width: j(57);
            height: j(57);
        }
        .progress-text{
            font-size: j(17);
        }
    }
}
.progress-icon{
    @extend %dn;
    width: j(18);
    height: j(15);
}
.progress-text{
    @extend %pa;
    @extend %tac;
    @extend %l50;
    bottom: j(-30);
    margin-left: j(-36);
    width: j(80);
    color: #c5c5c5;
    font-size: j(14);
}
.progress-tip{
    @extend %df;
    @extend %c3;
    @extend %aic;
    margin-top: j(50);
    background-color: #e1f4fc;
    font-size: j(24);
    padding: 0 j(38);
    height: j(60);
    border-bottom-right-radius: j(10);
    border-bottom-left-radius: j(10);
}
.progress-tip-icon{
    width: j(30);
    height: auto;
    margin-right: j(5);
}
.share{
    @extend %pr;
    margin-top: j(40);
    width: j(630);
    padding: j(10) 0;
    background-color: #fff;
    border-radius: j(10);
    box-shadow: j(8) j(8) j(8) j(8) rgba(0,0,0,.08);
}
.share-tip{
    @extend %pa;
    @extend %t0;
    left: j(42);
    width: j(52);
    height: j(175);
}
.share-bg{
    @extend %db;
    @extend %ma;
    width: j(610);
    height: j(410);
    background-color: #f2f2f2;
}
.share-info{
    @extend %df;
    @extend %fdc;
    padding: 0 j(45) j(20);
    line-height: 1.5;
}
.share-avatar{
    @extend %bsb;
    margin-top: j(-70);
    background-color: #f2f2f2;
    border: j(1) solid #fff;
    border-radius: 50%;
    height: j(100);
    width: j(100);
}
.share-name{
    @extend %c3;
    margin-top: j(20);
    font-size: j(28);
}
.share-prompt{
    @extend %df;
    @extend %aic;
    margin-top: j(4);
    color: #505050;
    font-size: j(24)
}
.button{
    width: j(360);
    margin: j(100) 0 j(160);
    background: linear-gradient(to right, #5fa4dd , #1b70c3);
}
