@import '~src/assets/scss/define';

page{
    @extend %h100;
    background-color: #8abfe3;
}
.wrap{
    @extend %df;
    @extend %pr;
    @extend %fdc;
    @extend %aic;
    @extend %h100;
}
.bg{
    @extend %w100;
    @extend %pa;
    @extend %t0;
    @extend %l0;
    height: auto;
    z-index: -1;
}
.null-box{
    height: j(220);
}
.prompt{
    @extend %cfff;
    @extend %tac;
    @extend %df;
    @extend %fdc;
    line-height: 1.5;
    width: j(550);
    font-size: j(33);
}
.flex1{
    @extend %df1;
}
.button{
    width: j(360);
    margin-bottom: j(160);
    background: linear-gradient(to right, #5fa4dd , #1b70c3);
}
