@import '../../assets/scss/define';
/*头部*/
.header{
    @extend %df;
    @extend %aic;
    @extend %fdc;
    height: j(300);
    background-color: #5ecddb;
    //background-image: linear-gradient(#26a4dc, #5ecddb);
}
.user-image{
    width: j(156);
    height: j(156);
    border-radius: 50%;
    margin-top: j(50);
}
.user-info{
    margin-top: j(30);
    text{
        margin: 0 j(5);;
        color: #fff;
        font-size: j(36);;
    }
}
.user-name{
    @extend %fwb;
}

.button{
    @extend %df;
    @extend %aic;
    @extend %jcc;
    @extend %bsb;
    width: j(288);
    height: j(56);
    margin: j(20) auto;
    border: 1px solid #28aeeb;
    border-radius: j(28);
}
.button-text{
    color: #28aeeb;
    font-size: j(36);
}

.base-info{
    @extend %df;
    @extend %aic;
    padding: j(60) 0;
    border-bottom: j(1) solid #efeff4;
}
.base-item{
    @extend %df1;
    @extend %df;
    @extend %fdc;
    @extend %aic;
}
.base-label{
    font-size: j(36);
    color: #ababab;
}
.base-value{
    font-size: j(80);
    color: #28aeeb;
}
.base-border{
    width: j(1);
    height: j(94);
    background-color: #c0c0c0;
}

.entry{

}
.entry-item{
    @extend %df;
    @extend %aic;
    @extend %bsb;
    height: j(100);
    border-bottom: j(1) solid #efeff4;
    padding: 0 j(60);
    text{
        @extend %db;
        font-size: j(36);
    }
}
.entry-label{
    @extend %df1;
    color: #575757;
}
.entry-value{
    color: #969696;
}
.entry-arrow{
    width: j(20);
    height: j(20);
    margin-left: j(10);
    transform: rotate(45deg);
    border-color: #c0c0c0;
    border-top-width: j(1);
    border-top-style: solid;
    border-right-width: j(1);
    border-right-style: solid;
}
