@import './assets/scss/_g';

.null{
    @extend %df1;
}
.wrap{
    &.list-page{
        @extend %df;
        @extend %df1;
        @extend %fdc;
        @extend %h100;
        .main{
            @extend %df1;
            @extend %oh;
            margin: j(30) j(30) 0;
            background-color: #fff;
        }
    }
}

.bluetooth{
    @extend %df;
    @extend %fdc;
    @extend %jcc;
    @extend %aic;
    padding: 20rpx 0;
    line-height: 1.5;
    text{
        @extend %db;
        font-size: 20rpx;
        color: #999;
    }
}
